<!DOCTYPE html>
<html lang="en">
<!-- Plantilla para presentar en 'view' -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{page_title}</title>
    <meta name="title" content="{page_title}">
    <meta name="keywords" content="{keywords}">
    <meta name="description" content="{description}">
    <link type="text/css" rel="stylesheet" href="css\template.css">
</head>

<body>
    
    <header>
        <div id="cab">
            <img alt="home page" width="120px" src="img/logo.png">
        </div>
        <div id="titulo">
            <h1>{page_title}</h1>
        </div>
    </header>

    <section>
        <li class="list">{nombre} {apellido1} {apellido2}</li>
        <li class="list">{curso} {nivel} {rama}</li>
        <li class="list">{centro}</li>
    </section>

</body>

</html>